<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

</head>

<body>
  <div class="login">
    <h1>Real Estate House Price of Unit Area Prediction</h1>

    <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}" method="post">
      <input type="text" name="X2_house_age" placeholder="House Age" required="required" /><br>
      <input type="text" name="X3_distance_to_MRT_station" placeholder="Distance to MRT" required="required" /><br>
      <input type="text" name="X4_number_of_convenience_stores" placeholder="Number of Convenience Stores" required="required" /><br>
      <input type="text" name="X5_latitude" placeholder="Latitude" required="required" /><br>
      <input type="text" name="X6_longitude" placeholder="Longitude" required="required" /><br>

      <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

    <br>
    <br>


  </div>
  {{prediction_text}}

</body>

</html>